*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
}

body{
    background-color: black;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.qSearchContainer{
    /* background-color: yellowgreen; */
    width: 98%;
    display: flex;  
    margin-top: 10px;
}

.qLogoArea{
    /* background-color: yellowgreen; */
    margin-right: 20px;
}

.qLogoAreaLink > span{
    font-size: 28px;
    font-weight: bold;
}

.qSearchArea{
    position: relative;
}

.qSearchInput{
    width: 400px;
    height: 35px;
    border: none;
    background-color: rgba(128, 128, 128, 0.555);
    border-radius: 3px;
    padding-left: 40px;
}

.qSearchInput::placeholder{
    color: rgba(255, 255, 255, 0.692);
    font-size: 15px;
    font-weight: bold;
}

.qSearchInput:focus{
    outline: none;
    background-color: rgba(53, 53, 53, 0.829);
}

.qSearchInput:focus::placeholder{
    color: rgba(255, 255, 255, 0.521);
}

.qSearchBtn{
    position: absolute;
    background-color: rgba(128, 128, 128, 0);
    border: none;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.qSearchBtn > i{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.692);
}

.qBackBtn{
    position: fixed;
    /* margin-top: 200px; */
    background-color: rgba(153, 205, 50, 0);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    left: 2%;
    top: 10%;
}

.qBackBtn:hover{
    background-color: rgba(53, 53, 53, 0.829);
}

.qBackBtn > i{
    font-size: 25px;
}


/* 메인 컨테이너 */
.qMainContainer{
    background-color: rgba(61, 61, 61, 0.37);
    width: 60%;
    margin-top: 50px;
    display: flex;
    border-radius: 3px;
    height: 700px;
}

/* 왼쪽 영역 */
.qLeftBox{
    width: 50%;
    /* background-color: violet; */
}

.qLeftBox{
    /* background-color: teal; */
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.qLeftBoxArea{
    /* background-color: rgb(119, 119, 40); */
    /* height: 100%; */
    /* margin-top: 20px; */
    overflow-y: scroll;
    height: 660px;   
    padding-right: 10px;
}


.qLeftBoxArea::-webkit-scrollbar{
    width: 10px;  /* 스크롤바의 너비 */
}

.qLeftBoxArea::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background-color: rgb(197, 197, 197);
    
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.qLeftBoxArea::-webkit-scrollbar-track {
    background: rgba(227, 227, 227, 0);  /*스크롤바 뒷 배경 색상*/
}

.qLeftTitle{
    /* background-color: violet; */
    margin-bottom: 30px;
}

.qLeftTitle > span{
    font-size: 30px;
    font-weight: bold;
}

.qLeftContent > span{
    font-size: 17px;
}

/* 오른쪽 영역 */
.qRightBox{
    /* background-color: rgb(131, 112, 87); */
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    width: 50%;
}


.qRightProfileArea{
    /* background-color: slateblue; */
    /* margin-top: 20px; */
    display: flex;
}

.qProfileInfo{
    display: flex;
    /* background-color: violet; */
    width: 96%;
    align-items: center;
}


.qProfileImg > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.qProfileNick > span{
    font-size: 17px;
    font-weight: bold;
}

.qMoreBtn{
    display: flex;
    align-items: center;
}

.qMoreBtn > i{
    font-size: 20px;
    cursor: pointer;
}


/* 댓글 영역 */
.qReplyArea{
    /* background-color: rgb(99, 46, 46); */
    padding-top: 30px;
    margin-left: 15px;
    padding-right: 15px;
    overflow-y: scroll;
    height: 460px;
    margin-bottom: 20px;
}

.qReplyArea::-webkit-scrollbar{
    width: 10px;  /* 스크롤바의 너비 */
}

.qReplyArea::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background-color: rgb(197, 197, 197);
    
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.qReplyArea::-webkit-scrollbar-track {
    background: rgba(227, 227, 227, 0);  /*스크롤바 뒷 배경 색상*/
}


.qReplyProfileInfo{
    display: flex;
    align-items: center;
    /* background-color: yellowgreen; */
}

.qReplyProfileImg > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.qReplyProfileNick > span{
    font-size: 15px;
    font-weight: bold;
}

.qReplyContent{
    /* background-color: tomato; */
    margin-left: 50px;
    margin-right: 10px;
}

.qReplyContent > span{
    font-size: 15px;
}

.qReplyInfo{
    display: flex;
    margin-top: 10px;
    /* background-color: yellowgreen; */
    margin-left: 50px;
    width: 40%;
    align-items: center;
    justify-content: space-between;
}

.qReplyDate > span{
    font-size: 14px;
}

.qChildReplyBtn > span{
    font-size: 14px;
    cursor: pointer;
}

.qReplyHeartNum > span{
    font-size: 14px;
}

.qReplyHeartNum > i{
    font-size: 14px;
    cursor: pointer;
}

.qReplyMoreBtn > i{
    font-size: 14px;
    cursor: pointer;
}

.qParentReplyLi{
    margin-bottom: 40px;
}

/* 대댓글 영역 */
.qChildReplyMoreBtn{
    /* background-color: turquoise; */
    display: flex;
    margin-left: 70px;
    margin-top: 20px;
    cursor: pointer;
}

.qChildReplyMoreBar{
    margin-right: 10px;
}

.qChildReplyMoreBar > span{
    font-size: 14px;
}

.qChildReplyMoreBar2 > span{
    font-size: 14px;
}

.qChildReplyArea{
    margin-left: 60px;
    /* background-color: yellowgreen; */
    margin-top: 20px;
    margin-right: 10px;
}

.qChildReplyLi{
    margin-bottom: 20px;
}


/* 댓글 작성 영역 */
.qWriteReplyArea{
    /* background-color: thistle; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.qWriteReplyInfo{
    /* background-color: wheat; */
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.qWriteReplyNum > span{
    font-size: 17px;
    font-weight: bold;
}

.qWriteReplyInfoNum{
    display: flex;
    /* background-color: yellowgreen; */
    width: 25%;
    align-items: center;
    justify-content: space-between;
}

.qWriteReplyHeartNum > span{
    font-size: 17px;
}

.qWriteReplyHeartNum > i{
    font-size: 17px;
}

.qWriteReplyScrapNum > span{
    font-size: 17px;
}

.qWriteReplyScrapNum > i{
    font-size: 17px;
}

.qWriteReplyShareBtn > i{
    font-size: 17px;
}

.qWriteReplyBox{
    /* background-color: turquoise; */
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    position: relative;
}

.qWriteReplyProfileImg > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.qWriteReplyInputBox{
    /* background-color: violet; */
    width: 73%;
    height: 50px;
}

#qWriteReplyInput{
    border: none;
    width: 100%;
    height: 40px;
    color: white;
    resize: none;
    border-radius: 3px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 50px;
    /* padding-bottom: 10px; */
    background-color: rgba(128, 128, 128, 0.555);
}

#qWriteReplyInput:focus{
    border: none;
    outline: none;
    background-color: rgba(53, 53, 53, 0.829);
}

.qWriteReplyBtn{
    position: absolute;
    right: 3%;
    background-color: rgb(0, 150, 150);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.qWriteReplyBtn > i{
    font-size: 17px;
}

.qWriteReplyBtn:hover{
    background-color: rgb(0, 110, 110);
}

